.md-typeset h1 {
    font-weight: bold;
}
.md-typeset h2 {
    font-weight: bold;
}

.video-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
  }

.md-typeset table:not([class]) td {
    min-width: 250px;
}

/* .md-header__button.md-logo img {
    width: 100%;
    height: 100%;
} */

.md-header__button.md-logo :-webkit-any(img,svg) {
    width: 100%;
    height: 100%;
}

.md-nav__title .md-nav__button.md-logo img {
  width: 100%;
  height: 100%;
}

.md-typeset iframe {
margin-left: 95px;
}

:root {
--md-primary-fg-color:             #3A4750;
--md-primary-fg-color--light:      #3A4750;
--md-primary-fg-color--dark:       #3A4750;
--md-accent-fg-color:              #BE3144;
--md-accent-fg-color--transparent: #BE3144;
--md-accent-bg-color:              #BE3144;
}

[data-md-color-scheme="slate"] {
--md-primary-fg-color:        #3A4750;
/* --md-default-bg-color:        #3A4750; */
}

.md-nav__item .md-nav__link--active {
color: #BE3144;
font-weight: bold;
}