.md-typeset h1 {
    font-weight: bold;
}
.md-typeset h2 {
    font-weight: bold;
}

.video-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
  }

  .md-typeset table:not([class]) td {
      min-width: 250px;
  }

  /* .video-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
  }
  .video-wrapper > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  } */

.md-header-nav__button.md-logo img {
    width: 100%;
    height: 100%;
}

.md-nav__title .md-nav__button.md-logo img {
  width: 100%;
  height: 100%;
}

.md-typeset iframe {
  margin-left: 95px;
}